@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Lato&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Lato&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(56deg, rgba(255, 63, 58, 0.1254901961) 0%, rgba(247, 94, 5, 0.1254901961) 100%);
  padding: 20px 0 128px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato, sans-serif;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__menu_link {
  text-decoration: none;
  color: var(--gray-800, #424551);
  font-weight: 700;
  font-size: 16px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
}

.enjoy {
  padding-bottom: 40px;
  background: linear-gradient(56deg, rgba(255, 63, 58, 0.1254901961) 0%, rgba(247, 94, 5, 0.1254901961) 100%);
}
.enjoy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato, sans-serif;
}
.enjoy__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy__play p {
  color: var(--gray-900, #1E212C);
  font-size: 14px;
  font-weight: 700;
}
.enjoy__text {
  color: var(--gray-900, #1E212C);
  font-size: 44px;
  font-weight: 900;
  padding-top: 24px;
}
.enjoy__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin-top: 60px;
}
.enjoy__btn_first {
  color: var(--primary, #FF3F3A);
  background: none;
  border: 1px solid var(--primary, #FF3F3A);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}
.enjoy__btn_second {
  color: white;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}
.enjoy__right {
  width: 573.2px;
  height: 551px;
}
.enjoy__bottom {
  margin-top: 189px;
  font-family: Lato, sans-serif;
}
.enjoy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.enjoy__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy__span_san {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 700;
}
.enjoy__span_text {
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 400;
}

.question {
  padding: 180px 0 90px;
}
.question__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.question__right {
  font-family: Lato, sans-serif;
}
.question__right p {
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 700;
}
.question__right h2 {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  margin-top: 8px;
}
.question__lists {
  margin-top: 40px;
}
.question__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-top: 12px;
}
.question__list p {
  color: var(--gray-800, #424551);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.question__list img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 6px;
}
.question__btn {
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 48px;
}

.courses {
  padding: 90px 0;
}
.courses p {
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  font-size: 16px;
  font-family: Lato, sans-serif;
}
.courses__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.courses__top h2 {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
}
.courses__top button {
  color: var(--primary, #FF3F3A);
  background: none;
  border: 1px solid var(--primary, #FF3F3A);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}
.courses__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  padding-right: 32px;
  width: 600px;
  height: 214px;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.courses__card button {
  background: #03CEA4;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  padding: 0 3px;
}
.courses__card h4 {
  padding: 20px 0;
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
}
.courses__card p {
  color: var(--gray-700, #787A80);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.courses__card p span {
  color: var(--primary, #FF3F3A);
  font-weight: 700;
  margin-right: 10px;
  position: relative;
}
.courses__card p span:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background: var(--gray-700, #787A80);
  top: 3px;
  left: 48px;
}
.courses__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits {
  padding: 90px 0 120px;
}
.benefits__subtitle {
  color: var(--gray-900, #1E212C);
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
.benefits__title {
  color: var(--gray-900, #1E212C);
  font-family: Lato, sans-serif;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  text-align: center;
  margin-top: 10px;
}
.benefits__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.benefits__btns button {
  border: none;
  background: none;
}
.benefits__btns span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding: 14px 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato, sans-serif;
}
.benefits__btns span p {
  color: #9A9CA5;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}
.benefits__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-column-gap: 190px;
     -moz-column-gap: 190px;
          column-gap: 190px;
}
.benefits__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato, sans-serif;
}
.benefits__left h3 {
  color: var(--gray-900, #1E212C);
  font-size: 32px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 24px;
}
.benefits__left p {
  color: var(--gray-800, #424551);
  font-size: 14px;
  font-weight: 400;
  line-height: 190%;
}

.accordion {
  padding: 80px 0;
  background: linear-gradient(56deg, rgba(255, 63, 58, 0.1254901961) 0%, rgba(247, 94, 5, 0.1254901961) 100%);
}
.accordion__subtitle {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: var(--gray-900, #1E212C);
  text-transform: uppercase;
}
.accordion__title {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 46px;
  font-weight: 900;
  line-height: 3%;
  color: var(--gray-900, #1E212C);
  margin-top: 40px;
}
.accordion__cards {
  margin-top: 100px;
  font-family: Lato, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}
.accordion__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 32px 40px;
  width: 1230px;
  -webkit-box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
          box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
}
.accordion__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-left: 30px;
}
.accordion__dates {
  font-size: 48px;
  color: var(--primary, #FF3F3A);
  font-weight: 900;
  line-height: 130%;
}
.accordion__month {
  font-size: 20px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
}
.accordion__times {
  font-size: 16px;
  color: var(--gray-700, #787A80);
  font-weight: 400;
  line-height: 160%;
}
.accordion__info {
  width: 727px;
}
.accordion__info h5 {
  font-size: 20px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
}
.accordion__info p {
  font-size: 16px;
  color: var(--gray-700, #787A80);
  font-weight: 400;
  line-height: 160%;
}
.accordion__btn {
  color: var(--primary, #FF3F3A);
  background: none;
  border: 1px solid var(--primary, #FF3F3A);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}
.accordion__btn2 {
  color: white;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}
.accordion__bottom {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-family: Lato, sans-serif;
}
.accordion__bottom h4 {
  font-size: 28px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
}
.accordion__bottom button {
  color: white;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}

.certificate {
  padding: 120px 0 0;
  background: none;
}
.certificate__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
  width: 1230px;
}
.certificate__left {
  font-family: Lato, sans-serif;
  width: 397px;
  height: 334px;
}
.certificate__left h5 {
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.certificate__left h2 {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  color: var(--gray-900, #1E212C);
  margin: 10px 0 48px;
}
.certificate__left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-800, #424551);
}
.certificate__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 30px;
}
.certificate__right img {
  width: 705px;
  height: 500px;
}

.carousel {
  padding: 166px 0 90px;
  background: var(--gray-200, #F4F5F6);
}
.carousel h4 {
  font-family: Lato sans-serif;
  font-size: 16px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.carousel h2 {
  font-family: Lato sans-serif;
  font-size: 46px;
  color: var(--gray-900, #1E212C);
  font-weight: 900;
  line-height: 130%;
  margin: 8px 0 60px;
}
.carousel__card {
  width: 285px;
  height: 416px;
  font-family: Lato sans-serif;
}
.carousel__card img {
  background: #FFCF2D;
  padding: 20px 20px 0 20px;
}
.carousel__card h4 {
  font-size: 20px;
  color: var(--gray-800, #424551);
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin: 16px 0 4px;
}
.carousel__card p {
  font-size: 16px;
  color: var(--gray-700, #787A80);
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}
.carousel__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments {
  padding: 90px 0 160px;
  background: var(--gray-200, #F4F5F6);
}
.comments h4 {
  font-family: Lato sans-serif;
  font-size: 16px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}
.comments h2 {
  font-family: Lato sans-serif;
  font-size: 46px;
  color: var(--gray-900, #1E212C);
  font-weight: 900;
  line-height: 130%;
  text-align: center;
  margin: 8px 0 60px;
}
.comments__box {
  background: white;
  width: 1020px;
  height: 344px;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.comments__item {
  margin-top: 64px;
}
.comments__text {
  margin-top: 64px;
  font-size: 20px;
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 150%;
}
.comments__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 24px;
}
.comments__name {
  margin-top: 9px;
}
.comments__name h6 {
  font-size: 16px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 160%;
}
.comments__name p {
  font-size: 14px;
  color: var(--gray-700, #787A80);
  font-weight: 400;
  line-height: 150%;
  margin-top: 5px;
}

.blog {
  padding: 120px 0 180px;
}
.blog h5 {
  font-family: Lato sans-serif;
  font-size: 16px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato, sans-serif;
  margin-top: 8px;
}
.blog__top h2 {
  font-size: 46px;
  color: var(--gray-900, #1E212C);
  font-weight: 900;
  line-height: 130%;
}
.blog__top button {
  color: white;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 40px;
}
.blog__cards {
  margin-top: 60px;
  font-family: Lato, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__card {
  width: 390px;
  height: 507px;
  font-family: Lato, sans-serif;
  border-radius: 4px;
  position: relative;
}
.blog__card h3 {
  font-size: 20px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
}
.blog__card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 10px;
}
.blog__card-second {
  font-size: 14px;
  color: var(--gray-700, #787A80);
  font-weight: 400;
  line-height: 150%;
  margin-left: 7px;
}
.blog__card-first {
  font-size: 14px;
  color: var(--gray-700, #787A80);
  font-weight: 700;
  line-height: 150%;
}
.blog__card-line {
  margin: 0 11px;
}
.blog__third {
  font-size: 16px;
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 160%;
  margin: 8px 0 16px;
}
.blog__card_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.blog__card_row p {
  font-size: 16px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 160%;
}
.blog__items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  width: 78px;
  height: 23px;
  font-family: Lato sans-serif;
  font-size: 14px;
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  top: 12px;
  left: 12px;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__items p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.subscribe {
  padding: 120px 0 180px;
  background: linear-gradient(56deg, rgba(255, 63, 58, 0.1254901961) 0%, rgba(247, 94, 5, 0.1254901961) 100%);
  position: relative;
}
.subscribe__container {
  text-align: center;
}
.subscribe h4 {
  font-size: 16px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  font-family: Lato sans-serif;
}
.subscribe h2 {
  font-size: 46px;
  color: var(--gray-900, #1E212C);
  font-weight: 900;
  line-height: 130%;
  margin: 10px 0 60px;
  font-family: Lato sans-serif;
}
.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe__row input {
  font-size: 16px;
  color: #9A9CA5;
  font-weight: 400;
  line-height: 160%;
  width: 422px;
  height: 52px;
  border-radius: 4px;
  padding-left: 13px;
  border: 1px solid #D7DADD;
  font-family: Lato sans-serif;
}
.subscribe__row button {
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
  font-family: Lato sans-serif;
}

.footer {
  background: var(--gray-900, #1E212C);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
  color: white;
  font-family: Lato, sans-serif;
  padding: 80px 0 60px;
  background: var(--gray-900, #1E212C);
}
.footer__box h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer__box li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.footer__craetex p {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 38px;
}
.footer__contact-sms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.footer__newsletter h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer__newsletter p {
  font-size: 9px;
  font-weight: 400;
  line-height: 150%;
}
.footer__newsletter input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  font-size: 12px;
  font-weight: 400;
  padding: 9px 87px 9px 12px;
  color: white;
  margin-bottom: 12px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__row {
  font-family: Lato, sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background: var(--white, rgba(255, 255, 255, 0.1254901961));
}
.footer__row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__row-left p {
  margin-right: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__row-left span {
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__row__right {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

@media (max-width: 1229px) {
  .container {
    max-width: 1051px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(56deg, rgba(255, 63, 58, 0.1254901961) 0%, rgba(247, 94, 5, 0.1254901961) 100%);
  padding: 20px 0 128px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato, sans-serif;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__menu_link {
  text-decoration: none;
  color: var(--gray-800, #424551);
  font-weight: 700;
  font-size: 16px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
}